:root
{
--clr1:#A8B4B0;
--clr2:#566160;
--clr3:#333C40;
--clr4:#050500;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

body
{

}
/*Layout styles*/
.layout
{

}

/*Booking form styles*/
.booking-form-container
{

}

.booking-form-container h1
{

}

.booking-form-container .booking-form
{

}


/*Call-to-action-styles*/
.cta
{

}

.cta button
{

}

.cta button:hover
{

}
/*Hero styles*/
.hero
{

}

.hero-image
{

}

.hero-text
{

}
/*NavBar styles*/
.navbar
{

}

.navbar.active
{

}

.navbar ul
{

}

.navbar.active ul li
{

}
.navbar ul li
{

}
.navbar ul li a
{

}
.navbar ul li a:hover
{

}

/*Toggle-switch styles*/
.toggle-switch{}

.toggle-switch.active
{}

.toogle-switch .toggle-switch-icon
{

}
/*NavLink styles*/
.navlink
{

}

.navlink-icon{}

.navlink-name{}
/*Home page styles*/
.home-page
{

}
/*About Us page styles*/
.about-us-page
{

}
/*Contact Us page styles*/
.contact-us-page
{}

/*Gallery page styles*/
.gallery-page
{

}

.gallery-page .gallery-container
{

}

/*header styles*/
.header
/*footer styles*/
.footer
{

}

@media (max-width: 768px)
{
    .navbar
    {

    }
    .navbar ul
    {

    }
    .navbar ul li
    {

    }
    .navbar ul li a
    {

    }
}